.compatibility-chart.mobile    {display: none;}
.compatibility-chart.desktop   {display: block;}

@media screen and (max-width:768px) {
  .compatibility-chart.mobile    {display: block;}
  .compatibility-chart.desktop    {display: none;}
}

.compatibility-chart {
	margin:0;
	margin-bottom: 100px;
	padding:0;
	width:100%;
	border:1px solid #CCC;
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	border-bottom-left-radius:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-right-radius:0;
	border-bottom-right-radius:0;
	-moz-border-radius-topright:0;
	-webkit-border-top-right-radius:0;
	border-top-right-radius:0;
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
	border-top-left-radius:0;
}

.compatibility-chart table {
	border-collapse:collapse;
	border-spacing:0;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

.compatibility-chart tr:last-child td:last-child {
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-right-radius:0;
	border-bottom-right-radius:0;
}

.compatibility-chart table tr:first-child td:first-child {
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
	border-top-left-radius:0;
}

.compatibility-chart table tr:first-child td:last-child {
	-moz-border-radius-topright:0;
	-webkit-border-top-right-radius:0;
	border-top-right-radius:0;
}

.compatibility-chart tr:last-child td:first-child {
	-moz-border-radius-bottomleft:0;
	-webkit-border-bottom-left-radius:0;
	border-bottom-left-radius:0;
}

.compatibility-chart tr:hover td {
}

.compatibility-chart tr:nth-child(odd) {
	background-color:#eee;
}

.compatibility-chart tr:nth-child(even) {
	background-color:#fff;
}

.compatibility-chart td {
	vertical-align:middle;
	border:1px solid #CCC;
	border-width:0 1px 1px 0;
	text-align:center;
	padding:10px;
	font-size:11px;
	font-family:Arial;
	font-weight:400;
	color:#000;
}

.compatibility-chart tr:last-child td {
	border-width:0 1px 0 0;
}

.compatibility-chart tr td:last-child {
	border-width:0 0 1px;
}

.compatibility-chart tr td.car-model:last-child {
	border-width:0 1px 1px 0;
}

.compatibility-chart tr:last-child td:last-child {
	border-width:0;
}

.compatibility-chart tr:first-child td {
  background-image: url("../img/noise.png");
	border:0 solid #999;
	text-align:center;
	border-width:0 0 1px 1px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:700;
	color:#999;
}


.compatibility-chart tr:first-child td:first-child {
	border-width:0 0 1px;
}

.compatibility-chart tr:first-child td:last-child {
	border-width:0 0 1px 1px;
}

.compatibility-chart .label-model {
  border: none;
  cursor: inherit;
}

@media screen and (max-width:768px) {

  .compatibility-chart {
    border: none;
  }

  .compatibility-chart table {
    margin: 0 0 30px;
    border:1px solid #CCC;
  }
  
  .compatibility-chart table tr:first-child td:last-child {
    text-align: left;
  }
  
  .compatibility-chart td.brand-year {
    background-image: url("../img/noise.png");
  	border:0 solid #999;
  	text-align:center;
  	border-width:0 0 1px 1px;
  	font-size:14px;
  	font-family:Helvetica;
  	font-weight:700;
  	color:#333 !important;
    text-align: left;
  }
  
  .compatibility-chart td.brand-year span {
  	font-weight:normal;
  	font-size: 12px;
  	color:#666 !important;
  }
  
  .compatibility-chart td.compatible {
    text-align: left;
    width: 60%;
  }
  
  .compatibility-chart td.make {
    text-align: left;
    width: 40%;
  }
  
  .compatibility-chart tr:first-child td:last-child {
    border: none;
    border-bottom: 1px solid #666;
  }

}

.chart-model td {
  text-align: center;
  font-weight: bold;
  color: #777;
  font-size: 1.2em;
}

.car-brand {
  font-size: 1.3em !important;
  line-height: 2.5em !important;
  text-align: center !important;
  color: #666;
  font-weight: bold !important;
  vertical-align: middle;
  background-color: #fff;
}

.car-model {
  font-size: 1.2em !important;
  line-height: 1.2em !important;
  text-align: center !important;
  color: #666;
  font-weight: 400;
  vertical-align: middle;
  background-color: #fff;
}

.car-model span {
  font-size: 0.8em !important;
  color: #666;
}

.car-model img {
  max-width: 60px;
}

.car-make td {
  text-align: center !important;
}

.car-make .make-name,.make-name {
  text-align: left !important;
  font-size: 0.9em !important;
}

#skoda .car-model, #seat .car-model {
  padding: 0 15px;
}

.unibrace-series {
  background: #FFF !important;
  border: 1px solid #CCC !important;
  border-width: 0 0 1px 1px !important;
}
.border-top {
  border-top: 3px solid #CCC;
}