html, body {
	height:100%;
}

@media screen and (max-width:768px) {
  html, body {
  	height:auto;
  }
}

#home .flexslider {
  margin: 0 auto;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
/*
  width: 40%;
  height: 50%;
*/
opacity: 0;
}


@media screen and (max-width:768px) {
  
  #home .flexslider {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: auto;
    top:auto;
  }

}


@media screen and (min-width:1300px) {
  
  #home .flexslider li {
    text-align: center;
  }
  #home .flexslider li img {
    width: 1200px;
    display: inline;
  }

}

#home2 {
  position: relative;
  top: 50%;
  margin-top: -25%;
}

.skrollr-desktop body {
	height:100% !important;
}

.parallax-image-wrapper {
	position:fixed;
	left:0;
	width:100%;
	overflow:hidden;
	z-index: 100;
}

.parallax-image-wrapper-50 {
	height:50%;
	top:-50%;
}

.parallax-image-wrapper-100 {
	height:100%;
	top:-100%;
}

.parallax-image {
	display:none;
	/*
  position:absolute;
	bottom:0;
	left:0;
  */
  margin: 0 auto;
	width:100%;
	max-width: 1600px;
	background-repeat:no-repeat;
	background-position:center;
	background-size:120%;
}

.parallax-image-50 {
	height:200%;
	top:-50%;
}

.parallax-image-100 {
	height:100%;
	top:0;
}

.parallax-image.skrollable-between {
	display:block;
}

.no-skrollr .parallax-image-wrapper {
	display:none !important;
}

#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}

.gap {
	background:transparent center no-repeat;
	background-size:cover;
}

.skrollr .gap {
	background:transparent !important;
}

.gap-50 {
	height:50%;
}

.gap-100 {
	height:100%;
}

.content-full {
	height:100%;
}

@media screen and (max-width:768px) {  
  .content-full {
  	height:auto;
  }
}