@import url("fonts.css");
@import url("nav.css");
@import url("bootstrap-select.min.css");
@import url("product.css");
@import url("compatibility.css");
@import url("cart.css");

h1 {
  text-align: center;
  margin: 30px 0;
  color: #666;
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 1.6em
}

h2 {
  text-align: center;
  margin: 30px 0;
  color: #666;
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 1.5em
}

h3 {
  margin: 15px 0;
  color: #666;
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 1.25em
}

p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  color: #777;
}

.highlight-red {
  font-weight: bold;
  color: #fe0202;
}

@media screen and (max-width:768px) {

  h2 {
    margin: 30px 0;
  }
}

.page-desc {
  max-width: 800px;
  margin:0 auto; 
  text-align: center;
}

/* #cover */

  #cover {background-color: #fe0202;position: relative;}
  
  #cover #logo-wrap{
    position: relative;
    top: 100px;
  	opacity: 0;
  }
  
  #cover #logo {text-align: center;}
  #cover #logo img {width: 20%; max-width: 300px; min-width: 150px;}
  
/* end #cover */



/* #tagline */

  #tagline {margin: 0 auto 20px;}
  	
  #tagline h1 {
  	margin: 0 auto;
  	text-align: center;
  	color: #fff;
  	font: 600 1.0em/1.0em Arial, sans-serif,'Open Sans Condensed',Arial,sans-serif;
  }
  	
  #tagline h1 sup {
    font-weight: normal;
    font-size: 0.5em;
    top:-1.0em;
  }

/* end #tagline */


/* #cta */

  #cta {
  	float: none;
  	overflow: hidden;
  	width: 100%;
  	margin: 0 auto;
  	position: relative;
  	text-align: center;
  	list-style: none;
  	padding: 0;
  }
  
  #cta li {
  	float: none;
  	margin: 0;
  	width: auto;
  	padding: 0;
  	text-align: center;
  }
  
  
  #cta li a {
  	display: inline-block;
  	color: #ffbcbc;
  	font: bold 14px/40px Arial, sans-serif,'Open Sans Condensed',Arial,sans-serif;
  	text-decoration: none;
  }
  
  #cta li a:hover {color: #FFF;}

/* end #cta */


/* .label-model */
  
  .label-model {
    border-bottom: 2px solid #FFF;
    text-align: center;
    width: 50px;
  }
  
  .label-model.lg {width: 80px;}
  
  .label-model.current {border-bottom: 2px solid #000;}
  
/* end .label-model */


/* .product-breadcrumb */
  
  .product-breadcrumb {
  	margin: 0 auto 30px;
  	font: bold 12px/12px Arial, sans-serif;
  	text-align: center;
	}
	
  .product-breadcrumb a{
  	margin: 5%;
  	color: #999;
  	text-decoration: none;
  }
  
/* end .product-breadcrumb */


.desc {
  font-size: 0.8em;
  color: #999;
  margin: 10px 0;
}

#XBSeries,#UBSeries, #RBSeries {
  cursor: pointer;
}

#xb-series, #ub-series, #rb-series {
  display: none;
}

#models .series-container {
  min-height: 315px;
}

.view-compatibility {
  text-align: center;
  color: #999;
  font-family: "Helvetica Neue";
  font-weight: 200;
  font-size: 1.1em;
  line-height: 1.4em;
}

#models .view-compatibility {
  margin: 100px 0 30px;
}

@media screen and (max-width:768px) {

  .view-compatibility {
    font-size: 1.0em;
  }

}
  


.model a:hover {
  text-decoration: none;
}

.product-name {
	margin: 10px 0;
	font-weight: bold;
}

.product-name img {
  display: inline-block;
  height: 15px;
  margin: 15px 0 0;
}

.product-price {
  margin: 10px 0;
}

.col-sm-offset-1_5 {
  margin-left: 12.5%;
}

.col-sm-offset-4_5 {
  margin-left: 37.5%;
}

@media screen and (max-width:768px) {
  .col-sm-offset-1_5, .col-sm-offset-4_5 {
    margin-left: 0;
  }
}

.col-center {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.series {
  margin: 60px 0;
}

.series-labels {margin: 0;}

.series-labels .line-model {
  text-align: center;
  width: 140px;
}

#item-list .item {
  margin: 10px 0;
}

#models {
  padding-top: 80px;
  padding-bottom: 40px;
  min-height: 650px;
  background-color: #FFF;
}

#how {
  background-color: #FFF;
  padding: 90px 0 3%;
  position: relative;
}

@media screen and (max-width:768px) {

  #how h1 {
    font-size:1.2em;
    font-weight:200;
  }

}

#how #explanatory {
  margin: 0 auto;
  max-width: 760px;
  width: 100%;
}

.series-label {
  position:absolute;
  font-size:1.0em;
  background-color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  color:#F00;
  border: 1px solid #EEE;
  padding:5px;
  border-radius:50%;
  font-weight:bold;
  z-index: 1;
}

.series-label:hover {
}

.series-desc-wrapper {
  text-align: center;
}

.series-desc {
  width: 30%;
  text-align: left;
  display: inline-block;
  padding: 15px 0;
  margin: 0 auto;
  max-width: 350px;
  background-color: #FFF;
  padding: 10px;
  color: #999;
  vertical-align: top;
}


@media screen and (min-width:1200px) {

  .series-desc .pad-lg-0 {
    padding-left: 0;
  }
}

/*
.series-desc.xb {
  bottom: 75%;
  left: 56%;
}

.series-desc.ub {
  bottom: 64%;
  left: 10%;
}

.series-desc.rb {
  top: 64%;
  left: 60%;
}
*/

.series-desc p {
  font-size:0.8em; 
  margin:6px 0 0;
}


@media screen and (max-width:768px) {

  .series-desc {
    width: 90%;
    max-width: 400px;
    position:initial;
    display: block;
    padding: 15px 0;
    margin: 0 auto;
  }
  .series-desc p {
    margin: 4% 0;
  }

}

.series-label img {
  width: 25px !important;
}

.series-label:hover {
/*
  background-color: rgba(255, 255, 255, 1.0);
  background: rgba(255, 255, 255, 1.0);
  color: rgba(255, 255, 255, 1.0);
  color:#F00;
*/
}

.series-label.xb {top:35%;left:60%;}
.series-label.ub {top:45%;left:32%;}
.series-label.rb {top:65%;left:72%;}

@media screen and (max-width:670px) {  
  .series-label.xb {top:30%;left:57%;}
  .series-label.ub {top:40%;left:29%;}
  .series-label.rb {top:68%;left:72%;}
}

@media screen and (max-width:450px) {  
  .series-label.xb {top:25%;left:57%;}
  .series-label.ub {top:35%;left:29%;}
  .series-label.rb {top:68%;left:72%;}
}

#why {
  background-color: #FFF;
  padding: 90px 0 3%;
  position: relative;
}

@media screen and (max-width:768px) {
  #why,#how {
    padding: 0 0 50px;
  }
  #why .next,#how .next {
    display: none;
  }
}

#why h2 {
  text-align: left;
  margin-bottom: 15px;
}

#why p {line-height: 1.6em;}

@media screen and (max-width:768px) {
  #why p {font-size: 0.9em;}
}

#why ul {
  list-style: none;
  padding-left: 0;
}

#why ul li {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  color: #777;
  margin-bottom: 10px;
  font-weight: 300;
}

#why img {
  margin: 0 auto;
  max-height: 100%;
}

#content {
  min-height: 500px;
}

.fb-like-box {
  margin: 0 auto;
  width: 300px;
  display: block !important;
  border: 1px solid #EEE;
}

.ig a {
  display: inline;
}

.ig a:hover {
  text-decoration: none;
}

.product-desc .asterisk {
  color: #999 !important;
  line-height: 1.2em !important;
  margin-bottom: inherit !important;
}

#content img {
  display: block;
  margin: 0 auto;
}

#content p {
  color: #777;
  line-height: 1.6em;
  margin-bottom: 30px;
}

@media screen and (max-width:768px) {
  #content p {
    font-size: 0.9em;
  }
}

#about {
  margin: 20px auto 40px;
  max-width: 600px;
}

#about h3 {
  margin: 0px auto 10px;
  font-weight: 500;
}

#about-nav {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  text-align: center;
}

#about-nav li {
  display: inline-block;
  margin: 2px;
  
}

#about-nav li a {
  padding: 10px 10px;
  font-size: 12px;
  font-weight: bold;
  color: #666;
  text-decoration: none;
}

#about-nav li a:hover {
  color: #fe0202;
}

#about-nav li .current {
  color: #fe0202;
}

@media screen and (min-width:768px) {

  #about {
    margin: 40px auto 40px;
    max-width: 600px;
  }

  #about h3 {
    margin: 30px auto 10px;
  }

  #about-nav {
    margin-top: 20px;
  }
  
  #about-nav li {
    display: block;
    text-align: left;
    margin-bottom: 20px; 
  }

  #about-nav li a {
    padding-left: 0;
  }
  
}


#testimonials {
  margin: 40px auto 40px;
  max-width: 800px;
}

#testimonials .comment {
  padding: 3%;
  margin: 30px 0;
}

#testimonials .comment .author {
  display: block;
  margin: 10px 0;
  font-size: 0.9em;
}

#testimonials .comment p {
  font-size: 1.0em;
  margin-bottom: 15px;
}

#testimonials .comment article + [data-readmore-toggle], #testimonials .comment article[data-readmore] {
  margin-top: 10px;
}

.photo_credit {
  font-size: 0.8em;
  text-align: right;
  color: #CCC;
  margin-top: 3px;
}

#installation ul {
  list-style: none;
  padding: 0;
}

#installation .pdf_thumb {
  display: block;
  padding: 5%;
}

#installation .pdf_thumb a {
  color: #fe0202;
  text-decoration: none;
}

#installation .pdf_thumb img {
  border: 1px solid #EEE;
}

#installation .info {
  color: #fe0202;
  font-size: 0.9em;
  margin: 5px 0;
  min-height: 48px;
}

#installation .file {
  display: block;
  color: #999;
  font-size: 0.7em;
}

#faq h2 {
  text-align: left;
}

#faq h3 {
  font-weight: 500;
}

#faq #ub-spacerkit:before,
#faq #xb-nuserttool:before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden; 
}

@media screen and (max-width:768px) {
  
  #models {
    padding-top: 50px;
  }
  
  .model a {
    display: block;
    padding: 30px 0;
    position: relative;
    
  }
  
  .model a.odd {
    background-color: #fafafa;
  }
  
  .model a .next {
    
    background-image: url('../img/next.png');
    background-repeat: no-repeat;
    height: 21px;
    width: 11px;
    position: absolute;
    right: 5%;
    top: 50%;
    margin-top: -10px;
  }

  .model .line-model {
    max-width: 150px;
    margin: 0 auto;
  }

  .model .product-name {
    margin-top: 15px;
  }

  .model .product-name img {
    height: 14px;
    margin: 0;
  }
  
  .model .compatibility {
    margin:10px auto;
    width: 60%;
    font-size: 0.8em;
    color: #CCC;
  }
  
  #installation .info {
    font-size: 0.8em;
  }

}

#contact h3 {
  width: 280px;
  margin: 15px auto;
}

.s_icon {
  width: 14px;
  display: inline-block !important;
  vertical-align: initial;
  margin-right: 3px !important;
}


/* next arrow */


.next img {
  width: 30px !important;
}

.next {
  text-align: center;
  position: absolute;
  bottom:20px;
  left: 50%;
  margin-left: -15px;
}

/* countries columns */

.countries {
  padding: 0;
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  list-style: none;
}

@media screen and (max-width:768px) {

  .countries {
    padding: 0;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
  
/* end .label-model */

footer {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding: 10px 0;
  color: #666;
}

.home footer {
  position: relative;
  top:-70px;
}

footer .social {
  margin: 10px 0;
}

footer .social a {
  margin: 0 10px;
  color: #666;
}

footer .social img {
  width: 16px;
}